.taskInput{
  height: 52px;
  padding: 0 25px;
  position: relative;
}
.taskInput img{
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.taskInput input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}
.taskInput input:focus,
.taskInput input:active {
  padding-left: 52px;
  border: 2px solid #3C87FF;
}
.taskInput input::placeholder{
  color: #bfbfbf;
}

@media (max-width: 400px) {
  .taskInput{
    padding: 0 20px;
  }
}
