.taskBox{
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
.taskBox.overflow{
  overflow-y: auto;
  max-height: 300px;
}
.taskBox::-webkit-scrollbar{
  width: 5px;
}
.taskBox::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.taskBox::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}

@media (max-width: 400px) {
  .taskBox{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
}
