* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;
}

:root {
	--prev-size: 1.2rem;
	--current-size: 1.8rem;
	--dark-screen: #111827;
	--dark-bg: #1F2937;
	--soft-gray: #9CA3AF;
	--teal-bg: #40B5EB;
	--light-bg: #F0FDFF;
	--light-btn-bg: #88BEF5;
	--white: #ffffff;
}

body {
	background-color: var(--dark-bg); 
	/* background: linear-gradient(to left, var(--dark), var(--soft-dark)); */
	/* background: radial-gradient(circle, var(--soft-dark) 0% 90%, var(--dark)); */
}

#root {
	height: 100%;
}

.container {
	margin-top: 50px;
	display: grid;
	justify-content: center;
	grid-gap: 5px;
	grid-template: minmax(90px, auto) repeat(5, 80px) / repeat(4, 80px);
}

.container div p{
	float: right;
	clear: both;
	word-wrap: break-word;
	word-break: break-all;
}

.currentOparend {
	font-size: var(--current-size);
}

.prevOparend {
	font-size: var(--prev-size);
}

.container div {
	background-color: var(--teal-bg);
	padding: 1rem;
	color: var(--white);
	box-shadow: var(--teal-bg) 0px 0px 2px;
	border-radius: 2px;
}

.container > button {
	border-radius: 2px;
	font-size: 2rem;
	background-color: var(--dark-screen);
	border: none;
	color: var(--soft-gray);
	box-shadow: var(--dark-screen) 0px 1px 2px;
	transition: filter 300ms ease;
}

/* .container > button:focus, */
.container > button:active {
	filter: brightness(5);
}

.container .two-span {
	grid-column: auto / span 2;
}

.container .full {
	grid-column: 1 / -1;
}


@media (prefers-color-scheme: light) {
	.container > button {
		background-color: var(--light-btn-bg);
		color: var(--dark-bg);
	}

	.container > div {
		background-color: var(--dark-bg);
		color: var(--white);
	}

	body {
		background-color: var(--light-bg);
	}
}

